
AxityStoreBackEnd/.vs/AxityStoreBackEnd/v16/.suo
AxityStoreBackEnd/.vs/AxityStoreBackEnd/v16/Server/sqlite3/db.lock
AxityStoreBackEnd/AxityStoreBackEnd.Domain/obj/project.assets.json
AxityStoreBackEnd/.vs/AxityStoreBackEnd/v16/Server/sqlite3/storage.ide-shm
AxityStoreBackEnd/.vs/AxityStoreBackEnd/v16/Server/sqlite3/storage.ide
AxityStoreBackEnd/.vs/AxityStoreBackEnd/v16/Server/sqlite3/storage.ide-wal
